# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:  
  wwwrootDir: 'TimeLog/wwwroot'
  dotnetSdkVersion: '2.2.105'

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core SDK $(dotnetSdkVersion)'
  inputs:
    version: '$(dotnetSdkVersion)'

- script: 'echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt'
  displayName: 'Write build info'
  workingDirectory: $(wwwrootDir)

#- task: ResharperCLI@1
#  inputs:
#    SolutionOrProjectPath: 'TimeLog.sln'
#    FailBuildLevelSelector: 'Error'

- task: Npm@1
  displayName: "npm install"
  inputs:    
    command: 'install'
    workingDirectory: '/TimeLog/TimeLog'

#- script:  npm install 
#  displayName: 'Install npm'

- task: DotNetCoreCLI@2
  displayName: 'Restore project dependencies'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

- template: templates/build.yml
  parameters:
    buildConfiguration: 'Debug'

- template: templates/build.yml
  parameters:
    buildConfiguration: 'Release'

- task: WhiteSource Bolt@19
  inputs:
    cwd: 'TimeLog'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  condition: succeeded()