@page
@model TimeLog.Pages.Activities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label asp-for="ActivityEntity.StartTime"></label>
                    <input asp-for="ActivityEntity.StartTime" class="form-control" placeholder="ActivityEntity.StartTime" autofocus />
                    <span asp-validation-for="ActivityEntity.StartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label asp-for="ActivityEntity.ProjectId"></label>
                    <select asp-for="ActivityEntity.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ActivityEntity.LocationId"></label>
                    <select asp-for="ActivityEntity.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label asp-for="ActivityEntity.ActivityTypeId"></label>
                    <select asp-for="ActivityEntity.ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeId"></select>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ActivityEntity.ClientId"></label>
                    <select asp-for="ActivityEntity.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActivityEntity.Billable" /> @Html.DisplayNameFor(model => model.ActivityEntity.Billable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEntity.Tasks"></label>
                <textarea asp-for="ActivityEntity.Tasks" class="form-control"></textarea>
                <span asp-validation-for="ActivityEntity.Tasks" class="text-danger"></span>
                <script>CKEDITOR.replace("ActivityEntity.Tasks");</script>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}