<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
            <div class="dropdown-menu">
                <a class="nav-link text-light" asp-area="" asp-page="/ActivityTypes/Index">Activity Types</a>
                <a class="nav-link text-light" asp-area="" asp-page="/Addresses/Index">Addresses</a>
                <a class="nav-link text-light" asp-area="" asp-page="/Clients/Index">Clients</a>
                <a class="nav-link text-light" asp-area="" asp-page="/Contacts/Index">Contacts</a>
                <a class="nav-link text-light" asp-area="" asp-page="/Locations/Index">Locations</a>
                <a class="nav-link text-light" asp-area="" asp-page="/Projects/Index">Projects</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-light" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>