/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-outline-secondary {
    color: white;
}

fieldset {
    border: 1px;
    border-color: green;
    border-style: solid;
    margin: .5em;
    padding: .5em;
}

legend {
    width: auto;
    padding: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* table activity overrides */
.table.activity {
    table-layout: fixed;
    width: 100%;
}

    .table.activity > thead > tr > th {
        width: auto;
    }

        .table.activity > thead > tr > th:nth-child(1) {
            width: 2%;
        }

        .table.activity > thead > tr > th:nth-child(2) {
            width: 2%;
        }

        .table.activity > thead > tr > th:nth-child(3) {
            width: 2%;
        }

        .table.activity > thead > tr > th:nth-child(4) {
            width: 2%;
        }

        .table.activity > thead > tr > th:nth-child(5) {
            width: 10%;
        }

    .table.activity > tbody > tr > td:nth-child(5) {
        text-align: center;
    }

    .table.activity > thead > tr > th:nth-child(6) {
        width: 9%;
    }

    .table.activity > thead > tr > th:nth-child(7) {
        width: 15%;
    }

    .table.activity > thead > tr > th:nth-child(8) {
        width: 52%;
    }

    .table.activity > thead > tr > th:nth-child(9) {
        width: 2%;
    }

    .table.activity > thead > tr > th:nth-child(10) {
        width: 2%;
    }

.monday {
    background-color: #4d3d00;
}

.tuesday {
    background-color: #391326;
}

.wednesday {
    background-color: #003311;
}

.thursday {
    background-color: #000033;    
}

.friday {    
    background-color: #4d2600;
}

.saturday {    
    background-color: #1f0033;
}

.sunday {    
    background-color: #330000;    
}

.short-task-display {
    max-height: 6em;
    overflow: hidden;
}

.project-display-small {
    font-size: 90%;
    color: darkgray;
}

.client-display-small {
    font-size: 80%;
    font-variant: small-caps;
}

/* table overrides end */

/* report table activity-d*/
.table.activity-d {
    table-layout: fixed;
    width: 100%;
}

    .table.activity-d > thead > tr > th {
        width: auto;
    }

        .table.activity-d > thead > tr > th:nth-child(1) {
            width: 15%;
        }

        .table.activity-d > thead > tr > th:nth-child(2) {
            width: 55%;
        }

        .table.activity-d > thead > tr > th:nth-child(3) {
            width: 15%;
        }

        .table.activity-d > thead > tr > th:nth-child(4) {
            width: 15%;
        }

    .table.activity-d > tbody > tr > td:nth-child(2) table {
        font-size: x-small;
    }

/* report table activity-r */
.table.activity-r {
    table-layout: fixed;
    width: 100%;
}

    .table.activity-r > thead > tr > th {
        width: auto;
    }

        .table.activity-r > thead > tr > th:nth-child(1) {
            width: 15%;
        }

        .table.activity-r > thead > tr > th:nth-child(2) {
            width: 35%;
        }

        .table.activity-r > thead > tr > th:nth-child(3) {
            width: 15%;
        }

        .table.activity-r > thead > tr > th:nth-child(4) {
            width: 25%;
        }        

.short-task-display {
    max-height: 8em;
    overflow: hidden;
}

.project-display-small {
    font-size: 90%;
    color: darkgray;
}

.client-display-small {
    font-size: 80%;
    font-variant: small-caps;
}

/* report table activity-r */

/* report table activity-rt */
.table.activity-rt {
    table-layout: fixed;
    width: 100%;
}

    .table.activity-rt > thead > tr > th {
        width: auto;
    }

        .table.activity-rt > thead > tr > th:nth-child(1) {
            width: 30%;
        }

        .table.activity-rt > thead > tr > th:nth-child(2) {
            width: 8%;
        }

        .table.activity-rt > thead > tr > th:nth-child(3) {
            width: 20%;
        }

        .table.activity-rt > thead > tr > th:nth-child(4) {
            width: 40%;
        }

        .table.activity-rt > thead > tr > th:nth-child(5) {
            width: 3%;
        }

.short-task-display {
    max-height: 8em;
    overflow: hidden;
}

.project-display-small {
    font-size: 90%;
    color: darkgray;
}

.client-display-small {
    font-size: 80%;
    font-variant: small-caps;
}

/* report table activity-rt */

/* SVG tests */
/* Chart Stuff */
.chart, .chart2 {
    color: gray;
}

/*svg.defs-only {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}*/

/*svg.icon {
    height: 32px;
    width: 32px;
    fill: white;
}*/

.bar {
    fill: red; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

    .bar text {
        fill: white;
    }

    .bar:hover, .bar:focus {
        fill: gray;
    }

/*.chart1 {
    background: gray;
}*/

/*.chart {
    background: black;
    width: 500px;
    height: 100px;
    border-left: 1px dotted #555;
    border-bottom: 1px dotted #555;
    padding: 20px 20px 20px 0;
}*/
.graph {
    height: 500px;
    width: 800px;
}

    .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 1;
    }

    .graph .labels.x-labels {
        text-anchor: middle;
    }

    .graph .labels.y-labels {
        text-anchor: end;
    }
/*.graph polyline {
    stroke: green;
}*/

.labels {
    fill: #ffffff;
    font-size: 13px;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: #ffffff;
}

.data {
    fill: red;
    stroke-width: 1;
}

/* Chart Stuff */