/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.chart, .chart2 {
    color: gray;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.table.activity > thead > tr > th:nth-child(1) {
    width: 1%;
}

.table.activity > thead > tr > th:nth-child(2) {
    width: 1%;
}

.table.activity > thead > tr > th:nth-child(3) {
    width: 10%;
}

svg.defs-only {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

svg.icon {
    height: 32px;
    width: 32px;
    fill: white;
}

/* Chart Stuff */
.bar {
    fill: red; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
}

    .bar text {
        fill: white;
    }

    .bar:hover, .bar:focus {
        fill: gray;
    }

.chart1 {
    background: gray;
}

.chart {
    background: white;
    width: 500px;
    height: 100px;
    border-left: 1px dotted #555;
    border-bottom: 1px dotted #555;
    padding: 20px 20px 20px 0;
}

.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}

.graph {
    height: 500px;
    width: 800px;
}

    .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 1;
    }

.labels {
    font-size: 13px;
    color: black;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: black;
}

.data {
    fill: red;
    stroke-width: 1;
}

/* Chart Stuff */